[mysqld]
innodb_file_per_table=1
default-storage-engine=MyISAM
performance-schema=0
max_allowed_packet=268435456
open_files_limit=40000
max_connections		= 400
sql_mode = ""
#sql-mode = ""
socket = /tmp/mysql.sock
#socket=  /shared/mysql.sock

# * Fine Tuning
thread_cache_size       = 128
sort_buffer_size	= 4M
bulk_insert_buffer_size	= 16M
tmp_table_size		= 32M
max_heap_table_size	= 32M
#binlog_format		= row

# * MyISAM
key_buffer_size		= 384M
open-files-limit	= 10000
table_open_cache	= 10240
myisam_sort_buffer_size	= 512M
#concurrent_insert	= 2
read_buffer_size	= 4M
read_rnd_buffer_size	= 2M


# * Query Cache Configuration
#
# Cache only tiny result sets, so we can fit more in the query cache.
query_cache_limit		= 128K
query_cache_size		= 128M
# for more write intensive setups, set to DEMAND or OFF
query_cache_type		= 1


# * InnoDB
innodb_buffer_pool_size	= 512M
# innodb_log_buffer_size = 8M
innodb_file_per_table	= 1
innodb_open_files	= 10000
innodb_io_capacity	= 1000
innodb_flush_method	= O_DIRECT
innodb_flush_log_at_trx_commit = 2
innodb_checksum_algorithm      = crc32
# SSD
innodb_flush_neighbors	= 0
innodb_file_format	= Barracuda
innodb_buffer_pool_dump_at_shutdown   = ON
innodb_buffer_pool_load_at_startup    = ON
innodb_log_compressed_pages           = -1
